.page{
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags{
    bottom: auto;
    top:35px;
}

.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left:120px;
    font-size:18px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html{
    margin-left: -20px;
}



.container {
    width: calc(100% - 60px); /* Subtract the width of the sidebar (e.g., 60px) */
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    left: 60px; /* Offset by the width of the sidebar */
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
  }
  
  .about-page,
  .about-project,
  .contact-page {
    .text-zone {
      position: absolute;
      left: 50%; /* Move to the center of the remaining space */
      top: 50%;  /* Vertically center */
      transform: translate(-50%, -50%); /* Center both horizontally and vertically */
      width: 60%; /* Adjust width to fit the layout */
      max-height: 90%;
      text-align: left;
    }
  }
  

    h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        text-align: left;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position:absolute;
            margin-top: -10px;
            margin-left:-10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after{
            content: '</h1/>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;

        }
    }

    p{
        font-style: 13px;
        color:#fff;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;
        text-align: left;


        &:nth-of-type(1){
            animation-delay:1.1s;

        }
        &:nth-of-type(2){
            animation-delay:1.2s;

        }
        &:nth-of-type(3){
            animation-delay:1.3s;

        }
    }

    .text-animate-hover{
        &:hover{
            
        }
    }
